*.txt
*.png
*.psd
*.accdb
old
tmp
Syrian_Range_v1_2B.miz
Syrian_Range_v1_2.miz
Syrian_Range_v1_2A.miz
skypt 1.2A.lua
skypt 1.2.lua
skypt 1.2B.lua
AutoRange 0.1A3-4h.lua
Syrian_Range_v2_0.miz
AutoRange 0.1A3-8h.lua
